<h2>
  <%= link_to(t('services.metadata_link') + t('services.metadata'), ESSI.config.dig(:essi, :metadata, :url).to_s % @presenter.source_metadata_identifier, class: "fa fa-external-link link_font") if @presenter.try(:source_metadata_identifier).present? %>
  <%= link_to( t('hyrax.works.link.large_viewer'), polymorphic_path([main_app, @presenter], format: :uv), class: "fa fa-external-link link_font") %>
</h2>
